@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

:root {
  --border-color: #dee2e6; /* gray3 */
  --gray-2: #f1f3f5;
  --past-background-color: rgba(0, 0, 0, 0.1);
  --current-item-color: #f5df4d;
  --vh-past-color: rgba(0, 0, 0, 0.4);
  --vh-future-color: lightpink;
  --active-color: #fa5252;
  --background-color: #fdf9f1;
  --item-background-color: #fffefc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #111;
  font-family: 'Spoqa Han Sans Neo', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a.active {
  color: inherit;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  border: 1px solid var(--past-background-color);
  background-color: #fffefc;
  border-radius: 2px;
}

button {
  outline: none;
}

input::placeholder {
  color: #adb5bd;
}

label {
  margin-bottom: 8px;
}

/* Calendar */
.calendar--grid {
  display: inline-grid;
  position: relative;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  position: relative;
  transition: all 0.3s;
  background-color: var(--item-background-color);
}

.current-text {
  color: var(--active-color) !important;
  font-weight: 800 !important;
}

.text-bold {
  font-weight: 800 !important;
}

.past {
  background-color: var(--past-background-color);
}

.cursor-default {
  cursor: default;
}

.fold-button {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.fold {
  transform: rotate(-90deg);
}

.fold-button i {
  transition: all 0.3s;
}

.circle::before {
  content: '';
  position: absolute;
  right: 5px;
  top: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--active-color);
}

.modal .hidden {
  visibility: hidden;
}

.vertical-past,
.horizontal-past {
  background-color: var(--vh-past-color) !important;
}

.vertical-future,
.horizontal-future {
  background-color: var(--vh-future-color) !important;
}

.item.current {
  background-color: var(--current-item-color) !important;
  border-color: #fff;
}

.vertical-past:hover,
.vertical-future:hover,
.horizontal-past:hover,
.horizontal-future:hover,
.item.current:hover {
  opacity: 0.8;
}

/* fold animation */
@keyframes Appear {
  0% {
    opacity: 0;
    transform: translateY(-24px);
  }

  60% {
    transform: translateY(20px);
  }

  75% {
    transform: translateY(-10px);
  }

  90% {
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.row.appear {
  animation: Appear 0.5s;
}

.row.disappear {
  display: none !important;
  opacity: 0;
}
