@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

:root {
  --border-color: #dee2e6;
  --past-background-color: #ebecf0;
  --current-item-color: #f5df4d;
  --all-this-month-color: #939597;
  --this-year-color: #74c0fc;
  --this-year-past-color: #d0ebff;
  --active-color: #fa5252;
  --background-color: #fdf9f1;
}

.fold {
  transform: rotate(-90deg);
}

i {
  transition: all 0.3s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #111;
  font-family: 'Spoqa Han Sans Neo', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a.active {
  color: inherit;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  border: 1px solid var(--border-color);
  border-radius: 2px;
}
