@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

:root {
  --border-color: #dee2e6; /* gray3 */
  --gray-2: #f1f3f5;
  --past-background-color: rgba(0, 0, 0, 0.1);
  --current-item-color: #f5df4d;
  --vh-past-color: rgba(0, 0, 0, 0.4);
  --vh-future-color: lightpink;
  --active-color: #fa5252;
  --background-color: #fdf9f1;
  --item-background-color: #fffefc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #111;
  font-family: 'Spoqa Han Sans Neo', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
  background-color: var(--background-color);
}
body.showModal {
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

a.active {
  color: inherit;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid var(--past-background-color);
}

button {
  outline: none;
}

input::placeholder {
  color: #9b9b9b;
}

label {
  margin-bottom: 8px;
}

select {
  text-overflow: ellipsis;
}

.hidden {
  display: none;
}

/* Calendar */
.calendar--grid {
  display: inline-grid;
  position: relative;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  position: relative;
  transition: all 0.3s;
  background-color: var(--item-background-color);
}

.current-text {
  color: var(--active-color) !important;
  font-weight: 800 !important;
}

.text-bold {
  font-weight: 800 !important;
}

.past {
  background-color: var(--past-background-color);
}

.cursor-default {
  cursor: default;
}

.fold-button {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.fold {
  transform: rotate(-90deg);
}

.fold-button i {
  transition: all 0.3s;
}

.circle::before {
  content: '';
  position: absolute;
  right: 5px;
  top: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--active-color);
}

.modal .hidden {
  visibility: hidden;
}

.vertical-past,
.horizontal-past {
  background-color: var(--vh-past-color) !important;
}

.vertical-future,
.horizontal-future {
  background-color: var(--vh-future-color) !important;
}

.item.current {
  background-color: var(--current-item-color) !important;
}

.vertical-past:hover,
.vertical-future:hover,
.horizontal-past:hover,
.horizontal-future:hover,
.item.current:hover {
  opacity: 0.8;
}

/* modal */
.backdrop {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  width: 50vw;
  height: 80vh;
  padding: 40px 80px 60px;
  background-color: #fff;
  border-radius: 4px;
  overflow-y: auto;
}

.modal-header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  padding-bottom: 20px;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--gray-2);
  user-select: none;
}

.modal-header h2 {
  font-weight: normal;
}

.modal-header .left,
.modal-header .right {
  flex: 1;
}

.modal-header .right {
  display: flex;
  align-items: center;
}

.modal-header .left {
  font-size: 20px;
}

.modal-header .right h2 {
  font-size: 24px;
  flex: 1;
}

h2.left,
.right h2 {
  position: relative;
}

.left .age,
.right .date-period {
  position: absolute;
  bottom: 2px;
  margin-left: 5px;
}

.left .age {
  font-size: 14px;
}

.right .date-period {
  font-size: 12px;
}

.prev,
.next {
  display: inline-block;
  font-size: 20px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#year.prev,
#year.next {
  color: rgba(0, 0, 0, 0.2);
}

.prev:hover,
.next:hover {
  color: rgba(0, 0, 0, 0.6) !important;
}

/* CKEditor */
.ck-editor__editable_inline {
  width: calc(50vw - 160px);
  padding: 0 !important;
}

.ck-editor__editable_inline ol,
.ck-editor__editable_inline ul {
  padding-left: 2rem;
}

/* fold animation */
@keyframes Appear {
  0% {
    opacity: 0;
    transform: translateY(-24px);
  }

  60% {
    transform: translateY(20px);
  }

  75% {
    transform: translateY(-10px);
  }

  90% {
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.row.appear {
  animation: Appear 0.5s;
}

.row.disappear {
  display: none !important;
  opacity: 0;
}

/* grass color */
.item.green1 {
  /* open color lime3 */
  background-color: #c0eb75 !important;
}

.item.green2 {
  /* open color lime4 */
  background-color: #a9e34b !important;
}

.item.green3 {
  background-color: #94d82d !important;
}

.item.green4 {
  background-color: #82c91e !important;
}

.item.green5 {
  background-color: #74b816 !important;
}

.item.green6 {
  background-color: #66a80f !important;
}

.item.green7 {
  background-color: #5c940d !important;
}

/* tag */
.tag-container {
  display: flex;
  flex-wrap: wrap;
  width: calc(50vw - 160px);
  padding-top: 6px;
  padding-left: 6px;
  border: 1px solid #efefef;
  user-select: none;
}

.all-tags-container .tag {
  cursor: pointer;
}

.tag {
  display: flex;
  color: #fff;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.tag .tag-value {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.all-tags-container .tag-value:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.tag-remove {
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.tag-remove:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.tag-input-container {
  flex: 1;
  margin-left: 5px;
  margin-bottom: 5px;
}

.tag-input {
  color: #9b9b9b;
  min-width: 100%;
  padding: 5px 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 0;
}

.tag-container:hover {
  background-color: #efefef;
}
